.page.theme_light {
  --main-text-color: #353430;
  --main-title-color: #ffc2E6;
  --main-title-shadow: #ff0070;
  --title-color: var(--main-text-color);
  --subtitle-color: var(--main-text-color);
  --border-rec-color: var(--main-text-color);
  --main-background-color: #fff1f7;
  --text-background-color: #ff8dcb;
  --hover-color: #ada5a6;
  --background-image: url(../images/cover-image-light.png);
  --transition-duration: 0.3s;
  --display-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-text-color: #353430;
    --main-title-color: #ffc2E6;
    --main-title-shadow: #ff0070;
    --title-color: var(--main-text-color);
    --subtitle-color: var(--main-text-color);
    --border-rec-color: var(--main-text-color);
    --main-background-color: #fff1f7;
    --text-background-color: #ff8dcb;
    --hover-color: #ada5a6;
    --background-image: url(../images/cover-image-light.png);
    --transition-duration: 0.3s;
    --display-rec: none;
  }
} 